@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* general style for the entire website */

* {
    /* the padding and border will be included in
    the total width and height of an element */
    box-sizing: border-box;
    /* remove underlines from links */
    text-decoration: none;
    /* self-explanatory */
    /* this is amazing gaskiya */
    background: transparent;
    font-family: "poppins", sans-serif;
}

body {
    /* a variant of black */
    background: rgb(30, 30, 30);
    color: white;
    /* any content that goes beyond its binding element,
    hide it */
    overflow: hidden;
    /* any overflowing content in the vertical-y
    direction, set it to scroll */
    overflow-y: scroll;
}