#skills {
    /* hide overflowing content */
    overflow: hidden;
    /* 100% viewing width */
    width: 100vw;
    /* 75 rem was used for navbar
    and hero section */
    max-width: 65rem;
    display: flex;
    /* because the default flex direction 
    is horizontal */
    flex-direction: column;
    /* crossAxisAlignment */
    align-items: center;
    /* mainAxisAlignment */
    justify-content: center;
    text-align: center;
    /* in order to center the skills section */
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    /* 100% vw */
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    align-items: center;
}

.skillBarImg {
    /* to protect aspect ratio */
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}


/* adding media query for device screens less than
720px, I am made for this shit! */

@media screen and (max-width: 720px) {
    .skillBarText {
        font-size: 2vw;
    }
}

@media screen and (max-width: 560px) {
    .skillBarText {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .skillBarText {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}